<div class="text-center">
    <h1>World of Warships Stats Tool</h1>
    <form>
        <label for="userSearchInput">
            Username:
            <input type="text" id="userSearchInput" class="form-element" />
        </label>
        <input type="button" id="userSearchSubmitInput" class="form-element" value="Search &#x1F50E;" />
    </form>
    <div>
        <button id="clearUserResults">Clear Results</button>
    </div>
    <div id="userInfoPanel">
        <!-- content will populate here after search -->
    </div>
</div>
<script src="~/js/wowapp.js"></script>